# Dependency directories
node_modules/
/jspm_packages/
.pnp
.pnp.js

# Next.js build outputs
.next/
out/
build/

# Python virtual environments & caches
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
htmlcov/
.toml

# Environments / Credentials / Local configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Operating System Logs
.DS_Store
Thumbs.db